<app-nav-bar></app-nav-bar>
<div class="flex flex-col items-center justify-center h-screen bg-white border-t-2 ">
    <main class="flex flex-col items-center justify-center px-4 sm:px-6 lg:px-8">
        <img src="assets/images/pop-404.svg" alt="Empty state illustration" class="mb-4 max-w-full sm:max-w-lg md:max-w-xl lg:max-w-2xl xl:max-w-3xl" />
        <h1 class="text-xl md:text-2xl lg:text-3xl font-semibold mb-2 text-center">Nada por aquí...</h1>
        <p class="text-center mb-8 md:mb-12 text-[#5c7a97] max-w-prose">
            Esta página no existe en Fernanpop, lo que sí que existen son miles de oportunidades esperándote.
        </p>
        <button routerLink="/home"
            class="inline-flex items-center justify-center whitespace-nowrap rounded-full text-sm md:text-base font-medium ring-offset-background transition-colors 
            focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 
            disabled:pointer-events-none disabled:opacity-50 h-12 px-6 lg:px-8 py-2 bg-[#13c1ac] hover:bg-[#0f9989] text-white">
            Ver productos
        </button>
    </main>
    
    <div class="mt-20 lg:hidden"></div>
</div>